.main {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  box-shadow: 1px 1px 7px #00000050;
  padding: 50px;
  margin: 30px;
  max-width: 90vw;
}

.main h1,
.main h2,
.main h3 {
  text-align: center;
  align-self: center;
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 0;
}

.main p,
.main strong {
  user-select: text !important;
}

.main .startP,
.main .startP * {
  text-align: start;
  align-self: flex-start;
}

.main p a {
  text-decoration: underline;
}

.screenshot {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.inputDiv,
.infosDiv {
  width: 500px;
  max-width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 25px 10px;
}

.main hr {
  width: 95%;
}

.screenshot input[type="url"] {
  width: 90%;
  border: none;
  text-align: center;
  margin: 5px;
  margin-bottom: 15px;
  box-shadow: 1px 1px 7px #00000050;
  border-radius: 10px;
  padding: 15px 7px;
  font-size: 1.25rem;
}

.screenshot label {
  font-size: 1.05rem;
  font-weight: 300;
  margin-bottom: 15px;
}

.screenshot button {
  text-align: center;
  margin: 5px;
  box-shadow: 1px 1px 7px #00000080;
  border-radius: 10px;
  padding: 15px;
  font-size: 1.1rem;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  transition: 150ms;
}

.screenshot button:hover {
  box-shadow: unset;
}

.screenshot img {
  max-width: 80%;
  max-height: 40%;
  margin: 15px;
  margin-bottom: 0;
  border-radius: 10px;
  animation: skeleton-loading-img 750ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes skeleton-loading-img {
  0% {
    background-color: #f2f2f280;
  }

  100% {
    background-color: #f2f2f2;
  }
}

.infosDiv,
.infosDiv * {
  user-select: text !important;
}

.infosDiv strong {
  word-break: break-word;
  max-width: 80vw;
}

.inputDiv {
  height: 500px;
  border-radius: 15px;
  border: #000 solid 3px;
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.inputDiv a[href='/'] {
  display: none;
}

.inputDiv a {
  margin: 15px;
  margin-top: 0;
  text-decoration: underline !important;
}

.inputDiv h2 {
  margin: 15px !important;
}